body{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  width: 100%;
  border: 2px solid red;
  height: 646px;
  margin: auto;
  padding: auto;
  background-color: black;
}

.logo{

}

.login{

  font-family: Open Sans Condensed, sans serif;
  font-size: 20px;
  font-style: italic;
  color: #66b4c1;
  /*!  */
}

input{



  background-color: #66b4c1;
  border: 2px solid white;
  border-radius: 7px;
  text-align: center;
  color: white;
  height: 35px;
  font-family: Open Sans Condensed, sans serif;
  font-size: 20px;
}

.connexion{
  
  margin: 10px;
}
